
 #balaji {
    color: red;
    background-color: aquamarine;
}
#balaji1 {
    color:blue;
    background-color: aquamarine;
}
#balaji2 {
    color:rgb(247, 251, 2);
    background-color: aquamarine;
}